/**
 * ThreeCol plugin styles
 */

#mailview-tc-mid
{
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
}

#mailview-tc-right
{
  position: absolute;
  display: none;
  top: 42px;
  left: 712px;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}

#messagelistcontainer
{
  bottom: 60px;
}

#messagelistfooter
{
  height: 54px;
}

#mailpreviewframe
{
  bottom: 0;
}

#mailpreviewtoggle
{
	background: url(buttons.png) -3px 0 no-repeat;
}

#mailpreviewtoggle.enabled
{
	background-position: -28px 0;
}